/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/bower/html5-boilerplate/css/normalize.css";
@import "../../vendor/bower/html5-boilerplate/css/main.css";
@import "../../vendor/bower/jquery-ui/themes/base/jquery-ui.css";

/*-- Application stylesheets. -----------------------------------------------*/
html, body, #main {
    height: 100%;
    margin: 0px;
    padding: 0px
}

menu#menu {
    position: absolute;
    top: 0;
    background-color: rgba(80, 134, 89, 0.7);
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.menu-item {
    padding-top: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 1em;
    font-family: Tahoma;
    font-size: 1.3em;
    border-bottom: 3px solid rgba(157, 207, 240, 0.9);
    cursor: pointer;
}

.menu-2-title {
    padding: 1em 0.5em 1em 0;
    font-family: Tahoma;
    font-size: 3.1em;
    border-bottom: 3px solid rgba(80, 134, 89, 0.7);
}

.menu-item:hover {
    background-color: rgba(157, 207, 240, 0.9);
}

menu.second-menu {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(157, 207, 240, 0.9);
    color: black;
    margin: 0;
    padding: 0 40px 0 40px;
    height: 100%;
}

.menu-item-title img {
    height: 2.5em;
    float: right;
    margin-top: -0.5em;
}

img.done {
    cursor: pointer;
    width: 7em;
}

.enter {
    width: 15em;
    display: block;
    -webkit-animation: pop-in 1s ease-out;
    animation: pop-in 1s ease-out forwards;
}

.second-menu.enter {
    width: 30%;
    -webkit-animation: pop-in-second 1s ease-out;
}

.leave {
    width: 10px;
    opacity: 0.2;
    border-right: 2px solid black;
    -webkit-animation: pop-in 1s ease-out reverse;
    animation: pop-in 1s ease-out forwards reverse;
}

@-webkit-keyframes pop-in {
    0% {
        opacity: 0.2;
        width: 10px;
    }
    100% {
        opacity: 0.8;
        width: 15em;
    }
}

@-webkit-keyframes pop-in-second {
    0% {
        opacity: 0;
        width: 10px;
    }
    100% {
        opacity: 1;
        width: 30%;
    }
}

.explain {
    font-size: 2em;
}

.slider-container {
    padding: 5px;
}

.slider {
    margin: 5px;
}

button.done {

    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99', GradientType=0);

    background-color: #599bb3;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;

    text-shadow: 0px 1px 0px #3d768a;

}

button.done:hover {

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3', GradientType=0);

    background-color: #408c99;
}

button.done:active {
    position: relative;
    top: 1px;
}

img.logo {
    position: absolute;
    right: 10px;
    z-index: 10;
    height: 200px;
}