/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/bower/html5-boilerplate/css/normalize.css";
@import "../../vendor/bower/html5-boilerplate/css/main.css";
@import "../../vendor/bower/jquery-ui/themes/base/jquery-ui.css";

/*-- Application stylesheets. -----------------------------------------------*/
html, body, #main {
    height: 100%;
    margin: 0px;
    padding: 0px
}

menu#menu {
    position: absolute;
    top: 0;
    background-color: rgba(80, 134, 89, 0.7);
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.menu-item {
    padding-top: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 1em;
    font-family: Tahoma;
    font-size: 1.3em;
    border-bottom: 3px solid rgba(157, 207, 240, 0.9);
    cursor: pointer;
}

.menu-2-title {
    padding: 1em 0.5em 1em 0;
    font-family: Tahoma;
    font-size: 3.1em;
    border-bottom: 3px solid rgba(80, 134, 89, 0.7);
}

.menu-item:hover {
    background-color: rgba(157, 207, 240, 0.9);
}

menu#second-menu {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(157, 207, 240, 0.9);
    color: black;
    margin: 0;
    padding: 0 40px 0 40px;
    height: 100%;
}

.menu-item-title img {
    height: 2.5em;
    float: right;
    margin-top: -0.5em;
}

.enter {
    width: 15em;
    display: block;
    -webkit-animation: pop-in 1s ease-out;
    animation: pop-in 1s ease-out forwards;
}

#second-menu.enter {
    width: 40%;
    -webkit-animation: pop-in-second 1s ease-out;
}

.leave {
    width: 10px;
    opacity: 0.2;
    border-right: 2px solid black;
    -webkit-animation: pop-in 1s ease-out reverse;
    animation: pop-in 1s ease-out forwards reverse;
}

@-webkit-keyframes pop-in {
    0% {
        opacity: 0.2;
        width: 10px;
    }
    100% {
        opacity: 0.8;
        width: 15em;
    }
}

@-webkit-keyframes pop-in-second {
    0% {
        opacity: 0;
        width: 10px;
    }
    100% {
        opacity: 1;
        width: 40%;
    }
}