<div class="menu-2-holder">
    <div class="menu-2-title">How old do you like your towns?</div>
    <div class="explain">
        Rate each age group
    </div>
    <div class="slider-container">
        <div class="slider-title">Kids</div>
        <div class="slider" data-key="0-9"></div>
    </div>
    <div class="slider-container">
        <div class="slider-title">Teens</div>
        <div class="slider" data-key="10-19"></div>
    </div>
    <div class="slider-container">
        <div class="slider-title">20-39</div>
        <div class="slider" data-key="20-40"></div>
    </div>
    <div class="slider-container">
        <div class="slider-title">40+</div>
        <div class="slider" data-key="40+"></div>
    </div>
    <button class="done">
        Go
    </button>
</div>