<div class="menu-2-holder">
    <div class="menu-2-title">Do you want to be in a specific community</div>
    <div class="explain">
        Rate each age group
    </div>
    <div class="slider-container">
        <div class="slider-title">Mixed</div>
        <div class="slider" data-key="mixed"></div>
    </div>
    <div class="slider-container">
        <div class="slider-title">Black</div>
        <div class="slider" data-key="black"></div>
    </div>
    <div class="slider-container">
        <div class="slider-title">Asian</div>
        <div class="slider" data-key="asian"></div>
    </div>
    <button class="done">
        Go
    </button>
</div>