<div class="menu-2-holder">
    <div class="menu-2-title">Uncomfortable with English?</div>
    <div class="explain">
        Find an area where the community speaks a certain language
    </div>
    <div class="slider-container">
        <div class="slider-title">French, Portugese & Spanish</div>
        <div class="slider" data-key="Fr_por_spa"></div>
    </div>
    <div class="slider-container">
        <div class="slider-title">Arabic, Punjabi & Urdu</div>
        <div class="slider" data-key="Ara_pun_urd"></div>
    </div>
    <div class="slider-container">
        <div class="slider-title">Chinese</div>
        <div class="slider" data-key="chinese"></div>
    </div>
    <div class="slider-container">
        <div class="slider-title">Eastern European languages</div>
        <div class="slider" data-key="E_europe"></div>
    </div>
    <button class="done">
        Apply
    </button>
</div>