<div class="menu-2-holder">
    <div class="menu-2-title">Are you an ivory tower academic?</div>
    <div class="explain">
        How important is being surrounded by graduates
    </div>
    <div class="slider-container">
        <div class="slider-title">A-levels</div>
        <div class="slider" data-key="alevel"></div>
    </div>
    <div class="slider-container">
        <div class="slider-title">Degree</div>
        <div class="slider" data-key="degree"></div>
    </div>
    <button class="done">
        Apply
    </button>
</div>