<div class="menu-2-holder">
    <div class="menu-2-title">Need to get somewhere fast?</div>
    <div class="explain">
        Choose a location
    </div>

    <div class="slider-container">
        <div class="slider-title">Importance</div>
        <div class="slider" data-key="timeTaken"></div>
    </div>
    <img class="done" src="app/img/by bike icon.png"/>
    <img class="done" src="app/img/by bus icon.png"/>
    <img class="done" src="app/img/by car icon.png"/>
    <img class="done" src="app/img/by walk icon.png"/>
</div>